[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wandb = "*"
torch = "*"
ocatari = "*"
numpy = "*"
pylint = "*"
segment-anything = {git = "git+https://github.com/facebookresearch/segment-anything.git"}
opencv-python-headless = "*"
pyparsing = "*"
hydra-core = "*"
tqdm = "*"
gymnasium = {extras = ["accept-rom-license", "atari"], version = "*"}
mypy = "*"
types-tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
