[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wandb = "*"
torch = "*"
ocatari = "*"
numpy = "*"
pylint = "*"
gymnasium = {extras = ["accept-rom-license", "atari"], version = "*"}
mypy = "*"

[dev-packages]

[requires]
python_version = "3.11"
